body {
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
}
.main_container {
  width: 1368px;
  height: 768px;
  margin: 0 auto;
  position: relative;
  transform-origin: center;
  perspective-origin: 50% 50%;
  perspective: 400px;
  transform: perspective(200px);
}

.wall_container {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.wall_front_container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  z-index: 50;
}

.wall_front {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  background-color: aqua;
  opacity: 0.2;
}
.wall_left {
  width: 768px;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: left;
  background-color: #eee;
  transform: rotateY(90deg);
  backface-visibility: visible;
}
.wall_right {
  width: 768px;
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: right;
  background-color: black;
  transform: rotateY(-90deg);
}
.wall_bottom {
  width: 100%;
  height: 768px;
  position: absolute;
}
.wall_behind {
  width: 100%;
  height: 100%;
  position: absolute;

  transform: translateZ(-768px);
}

// 오락기
.game_machine {
  /* 총세로 길이는 1023 */
  width: 100px;
  height: 213px;
  position: absolute;
  transform-style: preserve-3d;
  /* 임시 */
  left: 400px;
  top: 300px;
  /* background-color: beige; */
  transform: scale(0.5) translateZ(-100px);
}
.left {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/img/오락기\ 옆면.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: left;
  transform: rotateY(-90deg);
  transform-style: preserve-3d;
}
.right {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/img/오락기\ 옆면.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: left;
  transform: rotateY(-90deg);
  transform-style: preserve-3d;
  left: 99%;
}
.top {
  width: 100%;
  height: 4.8%;
  background-image: url(/img/오락기\ 위.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(22px);
}
.pannel {
  width: 100%;
  height: 53%;
  background-image: url(/img/오락기\ 패널.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: top;
  transform: translateZ(22px) rotateX(15deg) translateY(-1.1px);
}
.mid {
  width: 99%;
  height: 10%;
  background-image: url(/img/오락기\ 중간.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate3d(0, -9px, 99.4px);
}

.joystick_board {
  background-color: #eee;
  position: absolute;
  width: 99.5%;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translate3d(0px, 74.5px, 34px);
}

.joystick_board_bottom {
  background-color: #eee;
  position: absolute;
  width: 99.5%;
  height: 50px;
  transform: rotateX(90deg) translate3d(0px, 74.5px, 21px);
}

.joystick {
  width: 22px;
  height: 22px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(15px, 14px, 0px);
  background-color: black;
}

.column {
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #eee;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translate3d(7px, 7px, 0px);
}

.column .a {
  background-color: aqua;

  position: absolute;
  transform: translate3d(0, 0, 0);
}

.column .one {
  width: 14px;
  height: 8px;
  transform: translate3d(0, 0, 0) rotateY(-90deg);
  transform-origin: left;
}
.column .two {
  width: 14px;
  height: 8px;
  transform: translate3d(8px, 0, 0) rotateY(-90deg);
  transform-origin: left;
}
.column .three {
  width: 8px;
  height: 14px;
  transform: translate3d(0, 0, 0) rotateX(90deg);
  transform-origin: top;
}
.column .four {
  width: 8px;
  height: 14px;
  transform: translate3d(0, 8px, 0) rotateX(90deg);
  transform-origin: top;
}

.square {
  width: 16px;
  height: 16px;
  background-color: blueviolet;
  transform: translate3d(3px, 3px, 14px);
  position: absolute;
  transform-style: preserve-3d;
}

.square .one {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: blueviolet;
}
.square .two {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: blueviolet;
  transform-origin: left;
  transform: translateX(0px) rotateY(-90deg);
}
.square .three {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: blueviolet;
  transform-origin: left;
  transform: translateX(16px) rotateY(-90deg);
}
.square .four {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: blueviolet;
  transform-origin: top;
  transform: translateX(0) rotateX(90deg);
}
.square .five {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: blueviolet;
  transform-origin: top;
  transform: translateY(16px) rotateX(90deg);
}
.square .six {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: blueviolet;
  transform-origin: top;
  transform: translateZ(16px);
}

.button {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}
.red {
  background-color: red;
  transform: translate3d(45px, 10px, 0);
}
.blue {
  background-color: blue;
  transform: translate3d(65px, 10px, 0);
}
.yellow {
  background-color: yellow;
  transform: translate3d(55px, 25px, 0);
}
.green {
  background-color: green;
  transform: translate3d(75px, 25px, 0);
}

.bottom {
  width: 100%;
  height: 65%;
  position: absolute;
  background-image: url(/img/오락기\ 아래.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate3d(0, -15px, 59px);
}

.bottom2 {
  width: 100%;
  height: 25px;
  background-color: #eee;
  position: absolute;
  transform: rotateX(90deg) translate3d(0, 68px, -48px);
}

.bottom3 {
  width: 100%;
  height: 7px;
  background-color: #eee;
  position: absolute;
  transform: translate3d(0, 61px, 79.5px);
}

.top2 {
  position: absolute;
  width: 99%;
  height: 22px;
  background-color: #eee;
  transform-origin: top;
  transform: rotateX(90deg);
}
